{% extends "base.html" %}

{% block content %}
<form method="post" class="panel auth">
    {% csrf_token %}

    <h1>Sign in</h1>

    <p>
        <input name="username"
               placeholder="Username"
               required>
    </p>

    <p>
        <input type="password"
               name="password"
               placeholder="Password"
               required>
    </p>

    <button type="submit">Sign in</button>

    <p>
        <a href="/accounts/register/">Create an account</a>
    </p>
</form>
{% endblock %}
